
section{
  height: 225vh;
  background-image: linear-gradient(#00b09b,#96c93d);
  border-radius: 3%;
  background-size: cover;
  }

.logo{
  
  width: 95%;
  position: relative;
  text-align: center;
  height: 100px;
  background-color: black;
  border-radius: 12px;
  margin: 0px;
  border: 0px;
}

#img{
  padding-top: 6px;
  z-index: 2;
  width: 350px;
  border-radius: 5px;
}

.btn-group{
  width: 95%;
  margin: 0px;
  border: 0px;
  background-color: black;
  padding-top: 17px;
  margin: 0px;
  height: 80%;
  background-color: black;
  border-radius: 12px;
}
#b1{
padding-right: 100px;
padding-left: 100px;
}

.btn-group .button {
  background-color: rgb(216, 154, 39); /* Green */
  border: 1px rgb(253, 165, 0);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;

}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #3e8e41;
}



.content{
  background-color: rgb(240, 217, 184);
  width: 80%;
  height: 170vh;
  border-radius: 3%;
  box-shadow: 10 100px 100px 10 rgba(0, 0, 0, 0.664), 0 6px 20px 0 rgba(0, 0, 0, 0.452);
  
}

a{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
a:visited{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}



.text{

  font-family: Arial, Helvetica, sans-serif ;
  color: black ;
  opacity: .6;
  margin: 5%;
  font-size: 120%;
}

li{
  padding: 8px;
}


#img1{
  opacity: .85;
  float: left;
  width: 30%;
  height: 16%;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 12px;
  border-radius: 50%;
}


table{
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 12px;
  background-color: rgba(19, 16, 16, 0.87);
  color: rgb(114, 114, 112);
  border-collapse:collapse ;
  transition: .7s;
  }

th{
  color: rgb(56, 136, 56);
  padding-top: 10px;
  border: none;
  outline: none;
  border-radius: 12px;
  padding-right: 12px;


  margin-left: 10px;
 
}

td{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px ;

}

table:hover{
  box-shadow: 10px 10px 40px -2px ;
}